<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie=edge"">
    <link rel="stylesheet" href="/styl.css" />
    <title>TI-Lab12</title>
</head>
<body>
Witaj świecie z index.ejs <br/>

<% if (uzytkownik) { %>
    <div class='user'>
        Jesteś zalogowany jako <%= uzytkownik %>. <a href="/wyloguj">Wyloguj
            się</a>
    </div>
<% } %>

<% let foo = 'bar' %>
<% for (let i = 0; i < 5; i++) { %>
    <div>
        Element <%= i%>
    </div>
<% } %>
Zmienna foo: <%= foo %>
<br/>
<a href="/uzytkownicy">Lista uzytkowników</a>
</body>
</html>