<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie=edge"">
    <link rel="stylesheet" href="/styl.css" />
    <title>TI-Lab12 Lista</title>
</head>
<body>
<table style="width: 100%;">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Szczegóły</th>
    </tr>
    <% lista.forEach( element => { %>
    <tr>
        <td>
            <%= element.id%>
        </td>
        <td>
            <%= element.nazwa%>
        </td>
        <td><a href='/api/lista/<%= element.id %>'>Wyświetl szczegóły</a></td>
    </tr>
    <% }) %>
</table>
</body>
</html>